@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/Century\ Gothic.otf") format("opentype");
}

@font-face {
  font-family: "Georgia Bold";
  src: url("/fonts/georgiab.ttf") format("truetype");
}

body {
  font-family: "Century Gothic", sans-serif !important;
}

.font-georgia {
  font-family: "Georgia Bold", serif;
}

.font-century-gothic {
  font-family: "Century Gothic", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

/* services shadow */
.custom-service-shadow {
  box-shadow: 0px 4px 20px 0px #00000026;
}

html {
  scroll-behavior: smooth !important;
}
* {
  scroll-behavior: smooth !important;
}
